/*

Fonts: 
font-family: 'Alfa Slab One', cursive;
font-family: 'Martel', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif; */

.navbar-custom {
    background-color: #0e192b;
}

body {
    background-color: #687f96;
    font-family: 'Noto Sans JP', sans-serif;
}

.list-group {
    margin: auto auto;
}


/* Index Page  */

.heading {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    color: #f3efef;
    letter-spacing: 4px;
    padding: 50px 0;
    height: 100%;
    width: 100%;
}

.subheading {
    font-family: 'Montserrat', sans-serif;
    color: #f3efef;
    text-align: center;
    font-size: 27px;
}






.caption p {
    color: #f8f1f1;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10%;
}


/* Card - Contacts */

.card {
    width: 18rem;
    text-align: center;
    background-color: #687f96;
    border: none;
    font-family: 'Merriweather', serif;
    color: #f8f1f1;
}


/* Carousel CSS */

#portjumbo {
    margin-bottom: 20px;
}

.carodiv {
    margin-top: 50px;
}

.carousel-inner img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}


.carousel-caption p {
    color: #f8f1f1;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    background-color: hsla(252, 9%, 5%, 0.25)
}

.carousel-caption h5 {
    color: #f8f1f1;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    background-color: hsla(252, 9%, 5%, 0.25)
}

/* Form - Contact */

.single h2 {
    color: #f8f1f1;
    text-align: center;
}





/* Projects Section */

a {
    color: #f8f1f1;
    text-decoration: none;
}

a:hover {
    color: grey;
}


.projects {
    margin-bottom: 150px;
}





/* Footer Section */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 50px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    text-align: center;
}


h4 {
    font-family: 'Martel', serif;
    font-size: 15px;
    color: white;
}

.subtext {
    font-size: 12px;
}





/* Contact List  */

.list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: auto;
}

.banner-image {
    width: 600px;
    height: 400px;
    padding: 50px;
}


li a {
    display: block;
    color: #222831;
}

#email {
    font-size: 14px;
}


#home-newsletter {
    margin-top: 80px;
}


/* Images */

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.form-control {
    width: none;
}